.catalog-settings-content__upload-button {
  align-items: center;
  height: 2.125rem;
  width: 8.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #f67646;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-align: center;
  cursor: pointer;
}

.catalog-settings-content__upload-button:hover {
  border-color: #a9b0b8;
}

.catalog-settings-content__upload-button:active {
  background: #ececec;
}

.catalog-settings-content__upload-button-icon {
  font-family: 'IcoMoon', sans-serif;
  padding-right: 5px;
}

.catalog-settings-content__upload-button-icon::before {
  content: '\e90b';
}

.catalog-settings-content__upload-button_disabled {
  color: #b0b0b1;
}

.catalog-settings-content__upload-button_disabled:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.catalog-settings-content__upload-button_disabled:active {
  background: transparent;
}
