.catalog-settings-content__input-title {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 600;
  color: #7f8fa4;
}

.catalog-settings-content__input-title-star {
  color: #ed1c24;
  margin-left: 1px;
}
