.catalog-settings-content__upload-separator {
  width: 5.625rem;
  min-width: 5.625rem;
}

.catalog-settings-content__upload-separator-border {
  width: 2px;
  height: 45%;
  background: #c5d0de;
}

.catalog-settings-content__upload-separator-text {
  height: 10%;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  line-height: 1rem;
}
