.catalog-settings-content__upload-separator {
  width: 90px;
  min-width: 90px;
}

.catalog-settings-content__upload-separator-border {
  width: 2px;
  height: 45%;
  margin: 0 auto;
  background:#C5D0DE;
}

.catalog-settings-content__upload-separator-text {
  height: 10%;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}
