.catalog-settings-content {
  width: 53.75rem;
  background: #f8fafb;
  border: solid 1px #e2e7ee;
  border-radius: 4px;
  padding: 2.5rem 0;
}

.catalog-settings-content__wrapper {
  padding: 0 2.8125rem;
}

.catalog-settings-content__error-message {
  color: #ed1c24;
  font-size: 0.75rem;
  font-weight: 600;
}
