.catalog-settings-content__switch-label {
  display: flex;
}

.catalog-settings-content__switch-input {
  appearance: none;
  background: #c5d0de;
  border-radius: 0.625rem;
  box-shadow: none;
  outline: none;
  position: relative;
  height: 20px;
  width: 36px;
  margin: 0;
}

.catalog-settings-content__switch-input:not(:disabled):checked {
  background-color: #ea7835;
}

.catalog-settings-content__switch-input:checked::before {
  left: 1.125rem;
  right: 0.125rem;
}

.catalog-settings-content__switch-input::before {
  display: block;
  content: ' ';
  background-color: #fff;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  right: 1.125rem;
  transition: 200ms all linear;
}

.catalog-settings-content__switch-text {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
  box-sizing: border-box;
  margin: 0 0 0 12px;
}
