.catalog-settings-content__link-input-wrapper {
  position: relative;
}

.catalog-settings-content__link-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d6de;
  border-radius: 4px;
  color: #354052;
  font-size: 1.4em;
  font-weight: 600;
  outline: none;
  padding: 0.65em 0.75em;
}

.catalog-settings-content__link-input::placeholder {
  color: #B0B0B1;
  font-weight: 500;
}

.catalog-settings-content__link-input-clear {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 16px;
  font-size: 1.6em;
  font-family: 'IcoMoon';
  color: #A8AAB7;
  cursor: pointer;
}

.catalog-settings-content__link-input-clear::before {
  content: '\e92d';
}
