.catalog-settings-content__link-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d6de;
  border-radius: 4px;
  color: #354052;
  font-size: 1.4em;
  font-weight: 600;
  outline: none;
  padding: 0.65em 0.75em;
}
