.catalog-settings-content__link-input.catalog-settings-content__link-input_disabled {
  position: relative;
  background: #e9edf1;
  color: #B0B0B1;
  cursor: pointer;
}

.catalog-settings-content__tooltip-wrapper {
  display: flex;
  justify-content: center;
}
