.catalog-settings-content__textarea {
  min-height: 7.5rem;
  box-sizing: border-box;
  border: 1px solid #d0d6de;
  border-radius: 4px;
  color: #354052;
  font-size: 0.875rem;
  font-family: "Proxima Nova", sans-serif;
  line-height: 0.9375rem;
  font-weight: 600;
  outline: none;
  padding: 0.3125rem 0.46875rem;
}
