@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IcoMoon';
  src: url('./fonts/icomoon.eot?gk1htb');
  src:
    url('./fonts/icomoon.eot?gk1htb#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?gk1htb') format('truetype'),
    url('./fonts/icomoon.woff?gk1htb') format('woff'),
    url('./fonts/icomoon.svg?gk1htb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  color: #354052;
}

.border-separator {
  height: 1px;
  border: none;
  background: #e6eaee;
}

.margin-top-65 {
  margin-top: 4.0625rem;
}

.margin-top-35 {
  margin-top: 2.1875rem;
}

.margin-top-30 {
  margin-top: 1.875rem;
}

.margin-top-20 {
  margin-top: 1.25rem;
}

.margin-bot-30 {
  margin-bottom: 1.875rem;
}
