.catalog-settings__save-button {
  height: 2.875rem;
  width: 9.375rem;
  background: #ea7835;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}

.catalog-settings__save-button:hover {
  background: #eb7f40;
  border-color: #d37239;
}

.catalog-settings__save-button:active {
  background-color: #d86f31;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
